.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 7vh;
  display: flex;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.staff-list {
  display: grid;
}

.wrapper {
  cursor: pointer;
  padding: 10px;
}

.staff-detail {
  border: 1px solid;
  border-radius: 3px;
  padding-left: 10px;
}

/* Responsive for mobile */
@media only screen and (max-width: 767px) {
  .staff-list {
    grid-template-columns: 1fr;
  }
}

/* Responsive for tablet */
@media only screen and (min-width: 768px) {
  .staff-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive for desktop */
@media only screen and (min-width: 992px) {
  .staff-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}